# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Bb]in/
[Oo]bj/

# NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/
!**/packages/build/PackageRestore/

# Visual Studio Code
.vscode/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# User-specific files
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pdb

# Logs
*.log

# Other files
*.tlog
*.tmp

# Azure Web Apps
PublishProfiles/

# Local .NET configurations
*.dotnet/